.form {
    @include flexVertical();
    
    .error {
        height: $margin-between-elements;
    }
    button{
        @include btn1();
        background-color: $button-submit-color;
        transition: 0.5s;
        &:hover{
            @include buttonHoverEffect($button-color,10px,white);
        }
    }
}

.input{
    width: 50%;
    box-shadow: $shadow;
    border: 1px none $border-color;
    padding: 2vh;
    height: 30px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #E7E7E7;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}




@media screen and (max-width: 600px) {
    .input {
      width: 100%;
    }
  }