.form {
    @include flexVertical();
    .form-tittle {
        margin-bottom: $margin-between-elements;
    }
    input{
        @include inp1(50%);
    }
    .error {
        height: $margin-between-elements;
    }
    button{
        @include btn1();
        background-color: $button-submit-color;
        transition: 0.5s;
        &:hover{
            @include buttonHoverEffect($button-color,10px,white);
        }
    }
}
