footer {
    // background-color: #181818;
    height: 15vh;
    @include flexVerticalCenter(center, center);

    .media {
        margin-bottom: 5vh;
        font-size: 24px;
        display: grid;
        grid-template-columns: 30% 1fr 1fr 1fr 1fr 30%;
        grid-template-areas: ". facebook twitter youtube instagram .";
        a.facebook{
            grid-area: facebook;
            color: #3b5999;
        
        }
        a.twitter {
            grid-area: twitter;
            color: #55acee;
        }

        .youtube {
            grid-area: youtube;
            color: #cd201f;
        }
        .instagram {
            grid-area: instagram;
            color: #e4405f;
        }
    }
    .additional-stuff {
        display: grid;
        opacity: 0.5;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "terms contact rodo subscribtion";
        #terms {
            grid-area: terms;
        }
        #contact {
            grid-area: contact;
        }
        #rodo {
            grid-area: rodo;
        }
        #subscirbe {
            grid-area: subscribtion;
        }
    }
}
