

.form__input {
    display: block;
    background-color: $white;
    border: 3px solid $grey;
    width: 400px;
    padding-bottom: 5px;
    height: $button-height;
    outline: 0; //not good for accessibility, but used for visual purposes

    @include transition(background-color, color);

    &:hover {
        border-color: $purple;
    }

    &:focus {
        border-color: $orange;
    }

    @include responsive($screen-tablet) {
        width: 100%;
    }

    @include responsive($screen-mobile) {
        width: 100%;
    }
}

.form__label {
    display: block;
    padding: 10px 3px 3px;
}

.form__button {
    margin: 40px 0 0;
}

.error {
    color: $text-color-error;
    font-size: $font-size-mini;
    padding: 4px;
    height: 4px + $font-size-mini;
}