header {
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo user-services";
    margin-bottom: 2.5;
    .logo img {
        grid-area: "logo";
        max-height: 50%;
    }
    .user-services {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: ". profile log-out" ". search search";
    }
    .search-bar {
        grid-area: search;
        height: $button-height;
        display: grid;
        grid-template-areas: "bar scope";
    }
    .search {
        grid-area: bar;
    }
    .scope {
        grid-area: scope;
    }
    .profile {
        grid-area: profile;
        @include flexVerticalCenter(center, center);
        text-decoration: none;
        color: black;
    }
    .logout {
        grid-area: log-out;
        @include flexVerticalCenter(center, center);
        text-decoration: none;
        color: black;
    }
}
