.list {
    padding: 0;
}

.list__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 10px;
    @include transition(display);
}

.list__item--hover {
    &:hover {
        .button {
            display: flex;
        }
        background-color: $grey;
    }
}

.item__name {
    flex-grow: 2;
    display: flex;
    align-items: center;
    height: $button-height;
    text-align: center;

    @include responsive($screen-tablet) {
        text-align: left;
        height: auto;
        margin: 5px 0;
    }
}

.item__name-next {
    display: inline-block;
    margin: 0px 40px;

    @include responsive($screen-tablet) {
        margin: 0px 20px;
    }
}

.list__item--long {

    @include responsive($screen-mobile) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.list__item--long .button {
    @include responsive($screen-tablet) {
        height: $button-height + 20px;
        margin: 0;
        padding: 0px 8px;
    }

    @include responsive($screen-mobile) {
        margin-left: 0;
        padding: 5px 0;
        height: $button-height - 12px;
    }
}

.teammate {
    text-transform: uppercase;
    color: $orange;
    font-weight: $font-weight-bold;
}