.list {
    padding: 0;
}

.list__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    @include transition(display);
}

.list__item--hover {
    &:hover {
        .button {
            display: flex;
        }
    }
}

.item__name {
    flex-grow: 2;
    display: flex;
    align-items: center;
    height: $button-height;
    text-align: center;
}
