/*======================
     Mixins Mateusz
 ======================*/

=flexVertical()
    display: flex
    flex-direction: column

=btn1()
    width: 100px
    height: 40px
    background-color: $button-color
    color: white
    font-size: 16px
    border-radius: 10px
    text-transform: uppercase

=resetDefaultMarginPadding()
    margin: 0
    padding: 0
    box-sizing: border-box

=inp1
    width: 70%
    border: 1px solid $border-color
    padding: 5px
