@mixin responsive($screen-width) {
    @media screen and (max-width: $screen-width) {
        @content;
    }
}

@mixin transition($properties...) {
    transition-property: $properties;
    transition-duration: 0.3s;
}

@mixin hoverEffect($bgColor, $textColor) {
    &:hover {
        background-color: $bgColor;

        span {
            color: $textColor;
            transform: translateX(10px);
        }
    }
}
