.profile__item {
    margin: 10px 0;
    list-style: none;
}

.separate-section {
    margin-bottom: 40px;
    margin-top: 40px;
}

.profile__item--bold {
    font-weight: bold;
}

.profile__item-title {
    margin-bottom: 10px;
}
