/*==========================
 Variables Mateusz - to use
 =========================*/

// font
$main-font: Helvetica, Arial, sans-serif;


//used colors
$shadow: 0px 1px 5px rgba(104, 104, 104, 0.8);
$inner-line-color: #ddeeff;
$border-color: rgba(104, 104, 104, 0.8);
$button-color: #6c92c4;
$button-submit-color:#333333;
$button-list-color:#FFBE86;
$bgcolor-hover: #E7E7E7;

// button and input
$button-height: 40px;
$input-height: $button-height;

//display text
$text-height: $button-height;

$padding-inside-element: 2.5vh;
$margin-between-elements: 2.5vh;
$standard-border: 1px solid black;
$bigGridGap: 20px;
