
@{
    ViewData["Title"] = "AddClassForm";
}

<h1 class="page-title">Add class</h1>
<form id="form" class="form">
    <label for="name" class="form__label">Class name</label>
    <input class="form__input" type="text" id="name" required />
    <div id="nameError" class="error"></div>

    <label for="mentor" class="form__label">Select mentor</label>
    <select class="form__input" id="mentor" name="mentor">
        <option value="John Doe">John Doe</option>
        <option value="John Doe">John Doe</option>
    </select>
    <div id="mentor-error" class="error"></div>

    <label for="city" class="form__label">Select city</label>
    <select class="form__input" id="city" name="city">
        <option value="Warsaw">Warsaw</option>
        <option value="Cracow">Cracow</option>
    </select>
    <div id="mentor-error" class="error"></div>

    <button class="button button--inverse form__button" type="submit">Add</button>
</form>

