@model Queststore.ViewModels.ViewModelsAdmin.AddMentorFormViewModel
@{
    ViewData["Title"] = "AddMentor";
}

<h1 class="page-title">Add mentor</h1>
<form method="post" asp-action="AddMentorForm" id="form" class="form">
    <label asp-for="Mentor.Name" for="name" class="form__label">First name</label>
    <input asp-for="Mentor.Name" class="form__input" type="text" id="name" required />
    <div id="name-error" class="error"></div>

    <label asp-for="Mentor.Surname" for="surname" class="form__label">Last name</label>
    <input asp-for="Mentor.Surname" class="form__input" type="text" id="surname" required />
    <div id="surname-error" class="error"></div>

    <label asp-for="Mentor.Address" for="address" class="form__label">Adress</label>
    <input asp-for="Mentor.Address" class="form__input" type="text" id="address" required />
    <div id="address-error" class="error"></div>

    <label asp-for="Mentor.Phone" for="phone" class="form__label">Phone number</label>
    <input asp-for="Mentor.Phone" class="form__input" type="number" id="phone" required />
    <div id="phone-error" class="error"></div>

    <label asp-for="Mentor.Email" for="email" class="form__label">Email</label>
    <input asp-for="Mentor.Email" class="form__input" type="email" id="email" required />
    <div id="email-error" class="error"></div>

    <label class="form__label">Add students to class:</label>
    @for (int i = 0; i < Model.Classes.Count; i++)
    {
    <li class="list__item list__item--hover">
        <span class="item__name" name="">@(i + 1). @Model.Classes[i].Name @Model.Classes[i].City</span>
        <input type="checkbox" asp-for="Classes[i].IsChecked" />
        <input type="hidden" asp-for="Classes[i].Id" />
    </li>
    }

    <button class="button button--inverse form__button">Add</button>
</form>