@model Queststore.ViewModels.ViewModelsAdmin.ClassProfileViewModel
@{
    ViewData["Title"] = "ClassProfile";
}

    <section class="info-page">
        <h1 class="page-title">Class info</h1>
        <div class="info-page__item">Class Name: <span class="info-page__item--bold">@Model.Class.Name</span></div>
        <div class="info-page__item">City: <span class="info-page__item--bold">@Model.Class.City</span></div>
        
        <div class="info-page__item">
            <h3>Mentors:</h3>
            <ul class="list">
                @{
                    int counter = 1;
                    @foreach (var group in Model.Mentors)
                    {
                        <li class="list__item list__item--hover">
                            <span class="item__name">@counter  @group.Name @group.Surname</span>
                            <a class="button button--hidden " href="">View</a>
                        </li>
                        counter+= 1;
                    }
                }

            </ul>
        </div>
        <a class="button button--inverse form__button" asp-action="ClassesList">Back</a>
    </section>

