
@{
    ViewData["Title"] = "ClassesList";
}

<h1 class="page-title">List of classes</h1>
<ul class="list">
    <li class="list__item list__item--hover">
        <span class="item__name">1. Weekend-Course-krk-022020</span>
        <a class="button button--hidden " href="">View</a>
        <a class="button button--hidden" aps-controller="Admin" asp-action="EditClassForm">Edit</a>
    </li>
    <li class="list__item list__item--hover">
        <span class="item__name">2. Weekend-Course-krk-022020</span>
        <a class="button button--hidden " href="">View</a>
        <a class="button button--hidden" aps-controller="Admin" asp-action="EditClassForm">Edit</a>
    </li>
    <li class="list__item list__item--hover">
        <span class="item__name">3. Weekend-Course-krk-022020</span>
        <a class="button button--hidden " href="">View</a>
        <a class="button button--hidden" aps-controller="Admin" asp-action="EditClassForm">Edit</a>
    </li>
    <li class="list__item list__item--hover">
        <span class="item__name">4. Weekend-Course-krk-022020</span>
        <a class="button button--hidden " href="">View</a>
        <a class="button button--hidden" aps-controller="Admin" asp-action="EditClassForm">Edit</a>
    </li>

</ul>

