@model Queststore.Models.ExpLevel
@{
    ViewData["Title"] = "EditExpierenceLevelForm";
}

<h1 class="page-title">Edit experience level</h1>
<form id="form" class="form" asp-action="EditExpierenceLevelForm">
    <label asp-for="Name" for="level-name" class="form__label">Level name</label>
    <input asp-for="Name" class="form__input" type="text" id="level-name" value="Begginer" required />
    <div id="name-error" class="error"></div>

    <label asp-for="MinPoints" for="min-points" class="form__label">Required points</label>
    <input asp-for="MinPoints" class="form__input" type="number" id="min-points" value="1000" required />
    <div id="mentor-error" class="error"></div>

    <label for="avatar" class="form__label">Upload avatar</label>
    <input class="file-upload" type="file" id="avatar" value="Dragon.jpg" required />
    <div id="avatar-error" class="error"></div>

    <button class="button button--inverse form__button" type="submit">Edit</button>
</form>

