@model Queststore.ViewModels.ViewModelsAdmin.IndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>News</h1>
<div class="news-box">
    <span class="news-box__date">@Model.Class.CreateTime.ToShortDateString()</span>
    <span class="news-box__text">Added Class: @Model.Class.Name </span>
    <span class="news-box__points">@Model.Class.City</span>
</div>
<div class="news-box">
    <span class="news-box__date">23/05/2020</span>
    <span class="news-box__text">Bought artifact: team 123, class 233</span>
    <span class="news-box__points">50 cc</span>
</div>