
@{
    ViewData["Title"] = "MentorProfile";
}

    <section class="info-page">
        <h1 class="page-title">Mentor's info</h1>
        <div class="info-page__item">First name: <span class="info-page__item--bold">John</span></div>
        <div class="info-page__item">Last name: <span class="info-page__item--bold">Doe</span></div>
        <div class="info-page__item">Address: <span class="info-page__item--bold">ul. Mazowiecka 5/11</span></div>
        <div class="info-page__item">Phone: <span class="info-page__item--bold">(0048)789567345</span></div>
        <div class="info-page__item">Email: <span class="info-page__item--bold">john.doe@gmail.com</span></div>
        <div class="info-page__item">
            <h3>Classes:</h3>
            <ul class="list">
                <li class="list__item list__item--hover">
                    <span class="item__name">1. Weekend-Course-krk-022020</span>
                    <a class="button button--hidden " href="">View</a>
                </li>
                <li class="list__item list__item--hover">
                    <span class="item__name">2. Weekend-Course-krk-022020</span>
                    <a class="button button--hidden " href="">View</a>
                </li>
            </ul>
        </div>
        <a class="button button--inverse form__button" href="../../admin/all-mentors.html">Back</a>
    </section>

