@model List<Queststore.Models.User>
@{
    ViewData["Title"] = "MentorsList";
}

<h1 class="page-title">List of mentors</h1>
<ul class="list">

    @for (int i=0; i<Model.Count;i++)
    {
    <li class="list__item list__item--hover">
        <span class="item__name">@(i+1). @Model[i].Name @Model[i].Surname</span>
        <a class="button button--hidden " asp-controller="Admin" asp-action="MentorProfileView">View</a>
        <a class="button button--hidden" asp-controller="Admin" asp-action="EditMentorForm">Edit</a>
    </li>
    }

    @*<li class="list__item list__item--hover">
        <span class="item__name">2. John Doe</span>
        <a class="button button--hidden" asp-controller="Admin" asp-action="MentorProfileView">View</a>
        <a class="button button--hidden" asp-controller="Admin" asp-action="EditMentorForm">Edit</a>
    </li>
    <li class="list__item list__item--hover">
        <span class="item__name">3. John Doe</span>
        <a class="button button--hidden" asp-controller="Admin" asp-action="MentorProfileView">View</a>
        <a class="button button--hidden" asp-controller="Admin" asp-action="EditMentorForm">Edit</a>
    </li>
    <li class="list__item list__item--hover">
        <span class="item__name">4. John Doe</span>
        <a class="button button--hidden" asp-controller="Admin" asp-action="MentorProfileView">View</a>
        <a class="button button--hidden" asp-controller="Admin" asp-action="EditMentorForm">Edit</a>
    </li>*@
</ul>

