
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <nav class="login-page">
        <a class="logo login-page__logo" href="">CodeCoolers</a>
        <div>@RenderBody()</div>
    </nav>

    <script src="../js/Input.js"></script>
    <script src="../js/includeHTML.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>