.button {
    display: inline-flex;
    height: $button-height;
    align-items: center;
    justify-content: center;
    background-color: $white;
    color: $purple;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
    border: 3px solid $purple;
    padding: 5px 20px;

    @include transition(background-color, color);

    &:hover {
        background-color: $purple;
        color: $white;
    }

    & ~ & {
        margin-left: 8px;
    }
}

.button--alt {
    border-color: $orange;
    color: $orange;

    &:hover {
        background-color: $orange;
        color: $white;
    }
}

.button--inverse {
    background-color: $purple;
    color: $white;

    &:hover {
        background-color: $white;
        color: $purple;
    }
}

.button--orange {
    background-color: $orange;
    color: $white;
    border-color: $orange;;

    &:hover {
        background-color: $white;
        color: $orange;
    }
}

.button--hidden {
    display: none;

    @include responsive($screen-tablet) {
        display: flex;
        border: none;
    }

    @include responsive($screen-mobile) {
        display: flex;
        border: none;
    }
}
