@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMentor.cshtml";
}

<h1 class="page-title">List of students</h1>
<ul class="list">
    <li class="list__item list__item--hover list__item--long">
        <div class="item__name"><span>1. John Doe</span><span class="item__name-next">C#</span></div>
        <a class="button button--hidden " href="../../mentor/student-wallet-view.html">Wallet</a>
        <a class="button button--hidden " href="../../mentor/mark-quests.html">Mark quest</a>
        <a class="button button--hidden " href="../../mentor/mark-artifacts.html">Mark artifact</a>
        <a class="button button--hidden" href="../../mentor/student-profile-view.html">Info</a>
    </li>
    <li class="list__item list__item--hover list__item--long">
        <div class="item__name"><span>2. John Doe</span><span class="item__name-next">C#</span></div>
        <a class="button button--hidden " href="../../mentor/student-wallet-view.html">Wallet</a>
        <a class="button button--hidden " href="../../mentor/mark-quests.html">Mark quest</a>
        <a class="button button--hidden " href="../../mentor/mark-artifacts.html">Mark artifact</a>
        <a class="button button--hidden" href="../../mentor/student-profile-view.html">Info</a>
    </li>
    <li class="list__item list__item--hover list__item--long">
        <div class="item__name"><span>3. John Doe</span><span class="item__name-next">Java</span></div>
        <a class="button button--hidden " href="../../mentor/student-wallet-view.html">Wallet</a>
        <a class="button button--hidden " href="../../mentor/mark-quests.html">Mark quest</a>
        <a class="button button--hidden " href="../../mentor/mark-artifacts.html">Mark artifact</a>
        <a class="button button--hidden" href="../../mentor/student-profile-view.html">Info</a>
    </li>
    <li class="list__item list__item--hover list__item--long">
        <div class="item__name"><span>4. John Doe</span><span class="item__name-next">C#</span></div>
        <a class="button button--hidden " href="../../mentor/student-wallet-view.html">Wallet</a>
        <a class="button button--hidden " href="../../mentor/mark-quests.html">Mark quest</a>
        <a class="button button--hidden " href="../../mentor/mark-artifacts.html">Mark artifact</a>
        <a class="button button--hidden" href="../../mentor/student-profile-view.html">Info</a>
    </li>
</ul>