
@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}



<h3>@ViewBag.ErrorMessage</h3>

<a asp-action="index" asp-controller="Admin">
    Click here to navigate to the home page
</a>

